<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Customer</title>
    </head>
    <body>
        <div id="resData">
            <table class="table table-hover">
                <tr>
                <td>ADDRESS</td>
                <td>PHONE NO</td>
                <td>RESTAURANT NAME</td>
                </tr>
                <tr>
                    <td><%= restaurant.address %></td>
                    <td><%= restaurant.phoneNum %></td>
                    <td><%= restaurant.name %></td>
                </tr>
            </table class="table table-hover">
            <br />
            <table>
                <tr>
                    <td>foodID</td>
                    <td>name</td>
                    <td>price</td>
                        
                    </tr>
                    <% for(var i = 0; i < foods.length; i++) {%>
                    <tr>
                        <% var count =0 %>
                        <td><%= foods[i].id %></td>
                        <td>
                            <a href="/cusLogin/<%= restaurant.id %>/<%= cname %>/<%= foods[i].id %>">   <%= foods[i].name %>   </a>
                        </td>
                        <td><%= foods[i].price %></td>
                    </tr>
                    <% } %>
            </table>
        </div>
       
        </br>
        </br>
        <ul>
            <!--Display Cart here-->
        </ul>
        
        <a href="/cusLogin/<%= restaurant.id %>/<%= cname %>/<%= cId %>/0/confirm">send order to restaurant</a>
        </br>
        <a href="/cusLogin/<%=restaurant.id %>/<%= cname %>">back to menu</a>
        
        <script>
            (function () {
            const clear_button = document.querySelector('button')
            const displayArea = document.querySelector('ul')
            const wishList = JSON.parse(localStorage.getItem('wishList')) || []

            function displayWishList() {
                wishList.forEach(wish => displayWish(wish))
            }
             
            function displayWish(input) {
                displayArea.innerHTML += `
                <li><span>CANCEL</span>${"------"+input}</li>
                `
            }

            function updateLocalStorage() {
                //store the list back to localStorage
                localStorage.setItem('wishList', JSON.stringify(wishList))
            }

            //display all the wish on the list from localStorage
            displayWishList()

            //add event listener to form
            
            displayArea.addEventListener('click', event => {
                if (event.target.tagName !== 'SPAN') { return }
                const li = event.target.parentElement
                li.remove()
                wishList.splice(wishList.indexOf(li.textContent.slice(0, -1)), 1)
                updateLocalStorage()
            })
            
        })()
        </script>

    </body>
</html>